.todolistBlock {
    display: flex;
    flex-direction: column;
    padding: 140px 75px 20px 80px;
    background-color: #222222;
    height: 90vh;
    width: 600px;
    border: black solid 1px;
    border-radius: 5px;
    color: white;
    overflow: hidden;
    font-size: 12px;
}

.stack {
    margin-bottom: 50px;
}

.links {
    margin-bottom: 50px;
}

.links a {
    color: #606ce0;
}

.links p {
    margin-bottom: 2px;
}

.image img {
    width: 450px;
    border-radius: 5px;
}