.todolistBlock {
    display: flex;
    flex-direction: column;
    padding: 80px 75px 20px 80px;
    background-color: #222222;
    height: 90vh;
    width: 600px;
    border: black solid 1px;
    border-radius: 5px;
    color: white;
    overflow: hidden;
    font-size: 12px;
}

.stack {
    margin-bottom: 50px;
}

.links {
    margin-bottom: 50px;
}

.links a {
    color: #606ce0;
}

.links p:first-child{
    margin-bottom: 10px;
}

.image img {
    width: 450px;
    border-radius: 5px;
}

@media screen and (max-width: 850px) {
    .todolistBlock {
        padding: 140px 75px 20px 80px;
        font-size: 10px;
        width: 450px;
    }
    .image img {
        width: 300px;
        border-radius: 5px;
    }
}

@media screen and (max-width: 650px) {
    .todolistBlock {
        padding: 100px 40px 20px 50px;
        font-size: 9px;
        width: 350px;
    }
    .image img {
        width: 250px;
        border-radius: 5px;
    }
}
@media screen and (max-width: 500px) {
    .todolistBlock {
        padding: 80px 20px 20px 25px;
        font-size: 7px;
        width: 260px;
    }
    .image img {
        width: 207px;
        border-radius: 5px;
    }
    .stack{
        margin-bottom: 59px;
    }
}