.asideBlock {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 90vh;
    width: 210px;
    background-color: #222222;
    border: black solid 1px;
    border-radius: 5px;
    margin-right: 5px;
    padding: 20px 0 0 0;
    overflow: hidden;
    font-size: 13px;
}

.asideBlock img {
    width: 165px;
    margin-bottom: 15px;
    border-radius: 4px;
}

.navMenu {
    position: relative;
    height: 70%;
    width: 100%;
    text-align: center;
    color: white;
}

.navItem h3 {
    background-color: #151515;
    margin: 10px 0;
    height: 20px;
    width: 100%;
}

.navItem {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 15px;
}

.navItem button {
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 10px;
    width: 185px;
    height: 40px;
    background-color: transparent;
    border: 0;
    border-radius: 7px;
    cursor: pointer;
    color: #ffffff;

}

.navItem button:hover {
    background-color: #383838;
}

.navItem img {
    width: 20px;
    height: 20px;
    margin: 0 10px 3px 0;
}

.skills {
    position: absolute;
    text-align: left;
    align-items: start;
    right: 17px;
    width: 150px;
}

.skills li {
    margin-bottom: 5px;
}

@media screen and (max-width: 850px){
    .asideBlock{
        width: 170px;
        font-size: 10px;
    }
    .asideBlock img{
        width: 135px;
    }
    .navItem button{
        display: flex;
        justify-content: start;
        align-items: center;
        padding-left: 10px;
        width: 155px;
    }
    .navItem img {
        width: 15px;
        height: 15px;
        margin: 0 7px 3px 0;
    }
    .navItem h3 {
        height: 16px;
    }
    .skills {
        right: -14px;
    }
}

@media screen and (max-width: 650px){
    .asideBlock{
        width: 130px;
        font-size: 8px;
        padding: 10px 0 0 0;
    }
    .asideBlock img{
        width: 105px;
    }
    .navItem button{
        display: flex;
        justify-content: start;
        align-items: center;
        padding-left: 10px;
        width: 115px;
        height: 30px;
        font-size: 10px;
    }
    .navItem img {
        width: 15px;
        height: 15px;
        margin: 0 7px 3px 0;
    }
    .navItem h3 {
        height: 13px;
    }
    .skills {
        right: -50px;
    }
}

@media screen and (max-width: 500px){
    .asideBlock{
        width: 115px;
        font-size: 7px;
        padding: 15px 0 0 0;
    }
    .asideBlock img{
        width: 80px;
    }
    .navItem button{
        display: flex;
        justify-content: start;
        align-items: center;
        padding-left: 10px;
        width: 105px;
        height: 25px;
        font-size: 7px;
    }
    .navItem img {
        width: 15px;
        height: 15px;
        margin: 0 4px 3px 0;
    }
    .navItem h3 {
        height: 11px;
    }
    .skills {
        left: 25px;
    }
}