.footerBlock {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #222222;
    width: 820px;
    height: 40px;
    border: black solid 1px;
    border-radius: 5px;
    font-size: 13px;
}

.email {
    color: #ffffff;
}

.links a {
    padding: 0 5px;
}

.links a img {
    width: 25px;
}

.phone {
    color: #ffffff;
}

@media screen and (max-width: 850px) {
    .footerBlock {
        width: 630px;
        height: 35px;
        font-size: 11px;
    }
}
@media screen and (max-width: 650px) {
    .footerBlock {
        width: 490px;
        height: 30px;
        font-size: 10px;
    }
    .links a img {
        width: 20px;
    }
}
@media screen and (max-width: 500px) {
    .footerBlock {
        width: 380px;
        height: 30px;
        font-size: 8px;
    }
    .links a img {
        width: 17px;
    }
}