.footerBlock {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #222222;
    width: 820px;
    height: 40px;
    border: black solid 1px;
    border-radius: 5px;
}

.email{
    color: #ffffff;
    font-size: 13px;
}

.links a{
    padding: 0 5px;
}

.links a img{
    width: 25px;
}

.phone {
    color: #ffffff;
    font-size: 13px;
}
