.aboutMeBlock {
    display: flex;
    flex-direction: column;
    padding: 40px 120px 20px 80px;
    background-color: #222222;
    height: 90vh;
    width: 800px;
    border: black solid 1px;
    border-radius: 5px;
    color: white;
    overflow: hidden;
}

.aboutMeBlock div:nth-child(1n) {
    margin-bottom: 25px;
}

.title p {
    font-size: 14px;
    margin: 5px 0;
}
.title p:last-child {
    padding-bottom: 20px;
}

.aboutMe a {
    color: #606ce0;
}

