.aboutMeBlock {
    display: flex;
    flex-direction: column;
    padding: 35px 75px 20px 70px;
    background-color: #222222;
    height: 90vh;
    width: 600px;
    border: black solid 1px;
    border-radius: 5px;
    color: white;
    overflow: hidden;
    font-size: 12px;
}

.aboutMeBlock div:nth-child(1n) {
    margin-bottom: 20px;
}

.workExperience ul{
    margin-top: 5px;
}


@media screen and (max-width: 850px){
    .aboutMeBlock{
        padding: 35px 75px 20px 55px;
        font-size: 10px;
        width: 450px;
    }

}
@media screen and (max-width: 650px){
    .aboutMeBlock{
        padding: 35px 35px 20px 45px;
        font-size: 9px;
        width: 350px;
    }
    .aboutMeBlock div:nth-child(1n) {
        margin-bottom: 15px;
    }

}
@media screen and (max-width: 500px){
    .aboutMeBlock{
        padding: 25px 25px 20px 25px;
        font-size: 7px;
        width: 260px;
    }
    .aboutMeBlock div:nth-child(1n) {
        margin-bottom: 10px;
    }
}

