.aboutMeBlock {
    display: flex;
    flex-direction: column;
    padding: 35px 75px 20px 70px;
    background-color: #222222;
    height: 90vh;
    width: 600px;
    border: black solid 1px;
    border-radius: 5px;
    color: white;
    overflow: hidden;
    font-size: 12px;
}

.aboutMeBlock div:nth-child(1n) {
    margin-bottom: 20px;
}

.title p {
    /*font-size: 10px;*/
    margin: 3px 0;
}
.title p:last-child {
    /*padding-bottom: 20px;*/
}

.workExperience ul{
    margin-top: 5px;
}



